<!DOCTYPE html>
<html>
  <head>
    <title>Create a restaurant</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form name = "createresta" action = "/resta" method = "post">
  <input type = 'text' name = 'restaname', placeholder = 'Restaurant Name'>
  <input type = 'text' name = 'description', placeholder = 'Description'>
  <input type = 'text' name = 'phone', placeholder = 'Phone Number'>
  <input type = 'text' name = 'location' placeholder = 'Location'>
  <input type = 'text' name = 'cat', placeholder = 'Category'>
  
  <input type = 'submit' value = 'Sign Up'>
  </form>
  </body>
</html>