<!DOCTYPE html>
<html>
  <head>
    <title>Passport</title>
  </head>
  <body>
    <h1>Hi</h1>
    <% if(!isAuthenticated) {%>
    	<a href = '/login'> Login here</a>
    	<p></p>
    	<a href = '/signup'> Signup here</a>
    <%} else{%>
    	Hello, <%= user.email %>!
    	<p></p>
    	<a href = '/logout'> Logout here</a>
    	<p></p>
    	<a href = '/profile'> My Profile</a>
    <%}%>
  </body>
</html>