<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form name = "signup" action = "/signup" method = "post">
  <input type = 'text' name = 'firstname', placeholder = 'First Name'>
  <input type = 'text' name = 'lastname', placeholder = 'Last Name'>
  <input type = 'text' name = 'email', placeholder = 'Email'>
  <input type = 'password' name = 'password' placeholder = 'Password'>
  <input type = 'text' name = 'zipcode', placeholder = 'Zip Code'>
  
  <input type = 'submit' value = 'Sign Up'>
  </form>
  </body>
</html>