<!DOCTYPE html>
<html>
  <head>
    <title>Passport</title>
  </head>
  <body>
  <p>Email: <%= user.email %></p>
  <p>First Name: <%= user.firstname %></p>
  <p>Last Name: <%= user.lastname %></p>
  <p>Zip Code: <%= user.zipcode %></p>
  </body>
</html>